.App {
  text-align: center;
}
body {
  background-color: #475785;
}
.navBox {
  background-color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.title {
  padding-bottom: 20px;
  font-size: xx-large;
  font-weight: bold;
}

.navv {
  padding-left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  font-size: large;
  font-weight: bold;
}

a {
  cursor: pointer;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 10;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.sort-dropdown {
  margin-bottom: 10px;
}

.sort-dropdown label {
  font-size: large;
  font-weight: bold;
  margin-right: 10px;
}

.sort-dropdown select {
  padding: 5px;
  font-size: large;
}

.search-bar {
  margin-top: 20px;
}

.search-bar input {
  padding: 5px;
  font-size: large;
  margin-right: 5px;
}

.search-bar button {
  padding: 5px 10px;
  font-size: large;
}

.list {
  padding: 30px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(8, 7, 16, 0.6);
  width: 400px;
  word-wrap: break-word;
}

.no-films {
  margin-top: 20px;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.card-looks {
  display: flex-start;
}

.photo {
  display: flex-start;
  justify-content: left;
}

.card-title {
  font-size: medium;
  font-weight: bold;
  padding-left: 10px;
}
.movie-info {
  font-size: medium;
  text-align: left;
  padding-left: 10px;
}
.photo-details {
  width: 200px;
  display: flex;
  justify-content: left;
}

.photo-frame {
  padding: 30px;
}

.remove-button {
  background-color: #9e2424;
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  display: inline-block;
}

.remove-button:hover {
  background-color: #ff5252;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 100px;
  color: #333;
}

.film-details {
  padding: 20px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(8, 7, 16, 0.6);
  width: 600px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-evenly;
}

#film-title {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: xx-large;
}

.details-content {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.description {
  word-wrap: break-word;
  padding-top: 15px;
}

.back-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.back-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0e1e4e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.back-button:hover {
  background-color: #3b466f;
}
